name: Deploy to EC2 (Docker Compose)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          script: |
            set -e

            echo "Moving to project directory ........"
            cd /home/ubuntu/careConnect-rag-server

            echo "Pulling latest code ......"
            git pull origin main

            echo "Stopping old containers ......"
            docker-compose down

            echo "Building and starting containers ......"
            docker-compose up -d --build

            echo "Cleaning unused images ......."
            docker image prune -f

            echo "Deployment completed ........"